body {
    display: flex;
    flex-direction: column;
    background-color: rgb(35, 118, 173);
}
    

#container {
    
    color:gold;
    padding: 4px;
    border: 6px solid black;
    margin: 4px;
    
}
h2 {
    border: 3px dashed gold;
    text-align: center;
}
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
}

li {
    text-align: center;
    margin: 10px;
    padding: 4px;
    border: 2px solid black;
    background-color: blanchedalmond;
    color:black;
    width: 45%;
}

#image {
    padding: 0 500px;
    max-width: 256px;
    max-height: 1256px;
}